version: '3'
services:
  web:
    container_name: "web-nginx"
    # 用意したDockerfileよりビルドする場合、Dockerfileが置いてあるディレクトリへの相対パスを記述
    build:
      # docker buildコマンドを実行した場所
      context: ./docker/nginx
    # webコンテナはappコンテナに依存しているので、appコンテナが先に開始しているかの確認
    depends_on:
      - app
    ports:
      # ホストマシンのポート番号:コンテナのポート番号
      - 8080:80
    volumes:
      #　ホストディレクトリ : コンテナ内ディレクトリ 
      - ./:/src
  
  app:
    container_name: "laravel-app"
    build: 
      context: ./docker/php
    # appコンテナはmysqlコンテナに依存している
    depends_on:
      - db
    volumes:
      - ./:/src
      # ボリュームマウントから外す
      - /src/node_modules
      - /src/vendor
      # php.iniだけdocker/phpフォルダで見えるように
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini

  db:
    image: mysql:8.0.33
    # サービスコンテナが起動したときに実行するコマンド
    command: --max_allowed_packet=32505856
    container_name: "db-mysql"
    volumes:
      - .docker/mysql:/var/lib/mysql
    # Dockerのコンテナ内で使用される環境変数を設定する
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=laravel-test
    ports:
      - 3306:3306

  redis:
    image: redis:alpine
    container_name: "laravel-test-redis"
    ports:
      - 16379:6379